body {
	background-color: #5e8bd4;
	margin: 0;
	padding: 0;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 12px;
	color: #494949
}
p a{
	text-decoration: none;
	color:#5e8bd4;
}
p a:hover{
	text-decoration: underline;
}
h1 {
	color: #54b40b;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0 2px;
	padding: 5px 0 6px
}
h2 {
	color: #54b40b;
	font-size: 14px;
	font-weight: 700;
	margin: 24px 0 2px;
	padding: 5px 0 6px
}
h2 a{
	color:#5e8bd4 !important;
}
.clear {
	clear: both
}
.bg {
	left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:-01;
}
#searchBox {
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 200px;
	height: 25px;
	font-size: 12px;
	text-align: right;
	padding-right: 10px;
	border: 0;
	background-image: url(../img/site/search.png);
	background-repeat: no-repeat;
	background-position: 5% 50%
}

#userInfo a {
	color: #fff;
	text-decoration: none
}

/* Start Content */
.contentTitle {
	float: left;
	background: rgba(0,0,0,0.7);
	color: #fff;
	clear: both;
	width: 98%;
	padding-top: 1%;
	padding-bottom: 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	clear: both;
	margin-bottom: 10px;
	font-size: 1.4em;
}
.contentTitle a{
	color: white;
	text-decoration: none;
}
.contentTitle a:hover{
	text-decoration: underline;
}
.seeMore {
	text-align: center;
	font-size:12px;
}
.title {
	padding-left: 10px;
	padding-bottom: 5px;
}

.contentHolder {
	float: left;
	background: #fff;
	clear: both;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 15px;
	padding-bottom: 5px;
	color: #494949;
	font-size:12px;
}
.contentHolder a{
	color:#5e8bd4;
}
/* Profile */
.avatar {
	border: #83d3d8;
	border-style:solid;
	width:76px;
}
.scoreLarge{
	background-image: url(../img/site/scoreLarge.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	font-size: 30px;
	text-align: center;
	color: white;
	padding-top: 14px;
}
.scoreSmall{
	background-image: url(../img/site/scoreSmall.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	color: white;
	padding-top: 8px;
}
#error {
	font-size:14px;
	text-align:center;
	color:red;
	padding:10px;
}
#success {
	font-size:14px;
	text-align:center;
	color:green;
	padding:10px;
}