body {
	background-color: #5e8bd4;
	margin: 0;
	padding: 0;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 12px;
	color: #494949;
    background: url(../img/site/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p a{
	text-decoration: none;
	color:#5e8bd4;
}
p a:hover{
	text-decoration: underline;
}
h1 {
	color: #54b40b;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0 2px;
	padding: 5px 0 6px
}
h2 {
	color: #54b40b;
	font-size: 14px;
	font-weight: 700;
	margin: 24px 0 2px;
	padding: 5px 0 6px
}
h2 a{
	color:#5e8bd4 !important;
}
.clear {
	clear: both
}
.bg {
	left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:-01;
}
#searchBox {
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 200px;
	height: 25px;
	font-size: 12px;
	padding-left: 10px;
	border: 0;
	background-image: url(../img/site/search.png);
	background-repeat: no-repeat;
	background-position: 95% 50%
}

#userInfo a {
	color: #fff;
	text-decoration: none
}

/* Start Content */
.contentTitle {
	float: left;
	background: rgba(0,0,0,0.7);
	color: #fff;
	clear: both;
	width: 98%;
	padding-top: 1%;
	padding-bottom: 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	clear: both;
	margin-bottom: 10px;
	font-size: 1.4em;
}
.contentTitle a{
	color: white;
	text-decoration: none;
}
.contentTitle a:hover{
	text-decoration: underline;
}
.seeMore {
	text-align: center;
	font-size:12px;
}
.title {
	padding-left: 10px;
	padding-bottom: 5px;
}

.contentHolder {
	float: left;
	background: #fff;
	clear: both;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 15px;
	padding-bottom: 5px;
	color: #494949;
	font-size:12px;
}
.contentHolder a{
	color:#5e8bd4;
}
/* Profile */
.avatar {
	border: #83d3d8;
	border-style:solid;
	width:80px;
}
.scoreLarge{
	background-image: url(../img/site/scoreLarge.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	font-size: 30px;
	text-align: center;
	color: white;
	padding-top: 14px;
}
.scoreSmall{
	background-image: url(../img/site/scoreSmall.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	color: white;
	padding-top: 8px;
}
#error {
	font-size:14px;
	text-align:center;
	color:red;
	padding:10px;
}
#success {
	font-size:14px;
	text-align:center;
	color:green;
	padding:10px;
}
#wrapper {
	width: 1000px;
	margin: 0 auto
}

#header {
	margin: 0 auto;
	width: 800px;
	background-color: #494949;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	height: 40px;
	color: #fff;
	padding-top: 10px
}

#logo {
	float: left;
	width: 200px;
	height: 30px;
	padding-left: 20px;
	background-image: url(../img/site/search.png) no-repeat
}

#search {
	float: right;
	width: 200px;
	padding-right: 20px;
	padding-top: 2px;
	text-align: right
}

#userInfo {
	float: right;
	color: #fff;
	width: 200px;
	height: 37px;
	padding-top: 6px;
	text-align: right;
	padding-right: 20px
}

#holder {
	float: left;
	padding: 10px;
	width: 980px
}

#content {
	float: right;
	width: 700px
}

#sideBar {
	float: left;
	width: 300px
}

#footer-top {
	float: left;
	background-repeat: repeat-x;
	background-image: url(../img/site/footer.png);
	height: 5px;
	width: 100%;
	margin: 0
}

#footer {
	float: left;
	width: 1000px;
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 5px
}
#avatarPics {
	float: left;
	width: 100px;
	padding-top: 10px
}

.userBio {
	margin: 0 auto;
	width: 220px;
	padding-top: 10px
}

/* Friends Holder */
.friendHolder {
	float: left;
	width: 100%;
	clear: both;
	height: 50px;
	margin-bottom: 10px
}

.friendContent {
	float: right;
	padding-left: 10px;
	width: 220px;
}

.friendText {
	float: left;
	width: 150px;
}

.friendText a {
	color: #5e8bd4!important
}
.achievementContent {
	float: right;
	padding-left: 10px;
	width: 550px
}

.achievementText {
	float: left;
	width: 400px
}

#fancyBox {
	float: left;
	width: 500px
}

#fancyIMG {
	float: left;
	width: 200px;
	height:120px;
}

#fancyInfo {
	float: right;
	width: 300px;
	height:120px;
}

#fancyDescrip {
	float: left;
	width: 350px
}
#fancyAvatar {
	float:right; 
	padding-top:20px;
	width:100px;
}